@import url('./font/eb-garamond.css');
/*///// common css //////*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-size: 10px;
  
}
body{
    font-size: 10px;
    font-family: 'EB Garamond', serif;
}
:root{
  --font-family: 'EB Garamond', serif;
  --primary-bg-color: #B68C5A;
}

.primay-bg-color{
    background: var(--primary-bg-color) !important;
}

/*/////// NAVBAR STYLE //////*/
.toggler-icon-color{
    color: black !important;
}
.body-section{
    margin: 60px 0;
}
li{
    list-style: none;
}
.futter-btn{
    margin-left: -8px;
    margin-bottom: 2px;
}



/*POPUP FORM STYLE*/
  .form-popup {
    display: none;
    position: fixed;
    top: 100px;
    right: 80px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  .form-container {
    max-width: 300px;
    padding: 20px 20px;
    background-color: white;
  }
  .form-container label{
    font-size: 1.5rem;
  }
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    font-size: 2rem;
    background-color: #B68C5A;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
  }
  
  .form-container .cancel {
    background-color: black;
  }


  /*/////// BANNER STYLE //////*/
  .banner-section{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-content{
    padding: 100px;
  }
  .banner_title{
    font-family: var(--font-family);
    font-size: 72px;
    font-weight: 800;
  }
  form input{
    width: 50%;
    padding: 5px;
  }
  input::placeholder{
    font-size: 20px;
  }

   /*/////// LEGAL STYLE //////*/
   .legal_title, .client_title, .blog_title, .faq_title{
    font-family: var(--font-family);
    font-size: 50px;
    font-weight: 600;
   }
   .card-icon{
    width: 85px;
    height: auto;
   }
   .card-icon-criminal-low{
    width: 79px;
   }
   .card-icon-child-support{
    width: 88px;
   }
   .card-icon-divorce{
    width: 122px;
   }
   .card-icon-tax{
    width: 95px;
   }
   .card-btn-icon{
    width: 50px;
    height: auto;
   }
   .legal-card-item{
    border: 1px solid rgba(135, 135, 135, 0.1);
   }
   .legal-card-item:hover{
    background: linear-gradient(to bottom, #F3F3F3, #ffff);
   }

/*/////// CLIENT SECTION STYLE //////*/
.carousel-item-1{
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/slider-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.carousel-item-2{
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/slider-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.carousel-item-3{
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/slider-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.acordion-bg{
    background: rgb(235, 234, 234) !important;
}

/*/////// FOOTER SECTION STYLE //////*/
  form button i{
    font-size: 14px;
  }

  /* header responsive */
  @media (max-width: 576px) {
    .banner-content{
       font-family: var(--font-family);
        padding: 50px 0px;
        margin: 0;
    }
    .banner_title{
        font-size: 35px;
    }
    .legal_title, .client_title, .blog_title, .faq_title{
      font-family: var(--font-family);
      font-size: 40px;
      font-weight: 600;
     }
  }

  @media (max-width: 768px) {
    .banner-content{
      padding: 50px 0;
      margin: 0;
  }
    .card-title{
        font-size: 30px;
    }
  }

  @media (max-width: 992px) {
    .banner-content{
      padding: 60px 0;
      margin: 0;
  }
    .banner_title{
        font-size: 50px;
    }
   }
  
